@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/roboto/Roboto-Bold.eot");
  src: url("../fonts/roboto/Roboto-Bold.ttf");
  src: url("../fonts/roboto/Roboto-Bold.woff");
  src: url("../fonts/roboto/Roboto-Bold.woff2");
}
@font-face {
  font-family: "roboto-light";
  src: url("../fonts/roboto/Roboto-Light.eot");
  src: url("../fonts/roboto/Roboto-Light.ttf");
  src: url("../fonts/roboto/Roboto-Light.woff");
  src: url("../fonts/roboto/Roboto-Light.woff2");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/roboto/Roboto-Medium.eot");
  src: url("../fonts/roboto/Roboto-Medium.ttf");
  src: url("../fonts/roboto/Roboto-Medium.woff");
  src: url("../fonts/roboto/Roboto-Medium.woff2");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  src: url("../fonts/roboto/Roboto-Regular.woff");
  src: url("../fonts/roboto/Roboto-Regular.woff2");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../fonts/roboto/Roboto-Thin.eot");
  src: url("../fonts/roboto/Roboto-Thin.ttf");
  src: url("../fonts/roboto/Roboto-Thin.woff");
  src: url("../fonts/roboto/Roboto-Thin.woff2");
}
/*index/home */
body {
  margin: 0!important;
}
.cont-home-sec1-cont-txt, .cont-home-sec1-bg, .cont-home-second-cont,
.cont-home-second-cont-section, .cont-home-second-cont-section,
.cont-home-second-cont-logo, .section-three, .section-four-content,
.cont-five, .cont-five-bloq, .cont-five-bloq-sections-photo-img,
.form-news div {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.cont-five-bloq, .cont-five-bloq-sections {
  -moz-box-ordinal-group: 1;
  -webkit-flex:1;
  -webkit-box-flex:1;
  -moz-flex:1;
  -moz-box-flex:1;
  -ms-flex:1;
  flex:1;
}
.flex2 {
  -webkit-flex:2;
  -webkit-box-flex:2;
  -moz-flex:2;
  -moz-box-flex:2;
  -ms-flex:2;
  flex:2;
  order: 2;
}
.cont-home-sec1-cont-txt {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction:column;
}
.cont-home-second-cont, .cont-home-second-cont-section, .cont-home-second-cont-section,
.section-four-content, .cont-five, .cont-five-bloq {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.flex-row-reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row-reverse;
}
.cont-home-nav-cont-logo, .cont-home-sec1-bg, .cont-home-second-cont-logo {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.cont-home-second-cont-logo {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.column-reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column-reverse;
}
.cont-home-sec1 {
    background-image: url(../images/slider/bg1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cont-home-sec1-cont-txt h2, .cont-home-sec1-cont-txt p {
	margin: 0;
	color: #FFFFFF;
    font-family: roboto-light;
}
.cont-home-sec1-bg {
    min-width: 100%;
    min-height: 80vh;
}
.cont-home-sec1-cont-txt {
    padding-left: 5%;
}
.cont-home-sec1-cont-txt h2 {
    font-size: 2.7vw;
    padding-bottom: 3%;
}
.cont-home-sec1-cont-txt p {
    font-size: 1.37vw;
}

/*second section */
.cont-home-second {
    background-color: #2Ecc71;
}
.cont-home-second-cont {
  max-width: 80%;
  margin: auto;
  height: auto;
  padding: 5% 0;
}
.cont-home-second-cont-txt-logo h5 {
  color: white;
  font-family: roboto-bold;
  font-size: 2vw;
  margin: 0;
}
.cont-home-second-cont-txt-logo p {
  color: white;
  font-family: roboto-light;
  font-size: 1.4vw;
}
.cont-home-second-cont-logo {
  margin: 0 5%;
}
/*section three */
.section-three {
  background-color: #F5F5F5;
  padding: 5%;
}
.section-three-slider-projects-cont.slick-initialized.slick-slider {
  max-width: 70%;
  margin: auto;
}
.section-three-slider-projects {
  background-color: white;
  padding: 3%;
}
.slick-initialized .slick-slide {
  margin: .5%;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.slick-prev {
  left: -23vw!important;
  top: 17vw!important;
}
.slick-next {
  right: 81vw!important;
  top: 17vw!important;
}
.slick-next:before, .slick-prev:before {
  color: #E74C3C!important;
}
.section-three-projects {
  color: #46586C;
  padding: 5% 0;
}
.section-three-projects h5 {
  font-family: roboto-regular;
  font-size: 1.9vw;
  margin: 0;
}
.section-three-projects p {
  font-family: roboto-regular;
}
p.section-three-slider-title {
  font-family: roboto-bold;
  font-size: 1vw;
  text-align: center;
  color: #46586C;
}
/*section four */

.section-four {
  background-color: #E74C3C;
  color: white;
}
.section-four-content h5, .section-four-content-title h5 {
  margin: 0;
}
.section-four-content-title {
  text-align: center;
  padding: 5%;
}
.section-four-content-title h5 {
  font-family: roboto-thin;
  font-size: 3vw;
}
.section-four-content-title p {
  font-family: roboto-thin;
  font-size: 1.5vw;
}
.section-four-content {
  margin: 0 5%;
  padding-bottom: 5%;
}
.section-four-content-client-content {
  margin-bottom: 5%;
  padding: 1% 0;
  border-left: 5px white solid;
}
.section-four-content-client-content p {
  margin-left: 5%;
  font-family: roboto-regular;
}
.section-four-content-client-content p:first-child {
  font-size: 1.5vw;
}
.section-four-content-client-content p:nth-child(2) {
  font-size: 1vw;
  font-family: roboto-thin;
}

/*five section */
.cont-five {
  background-color: #34495E;
  color: white;
  padding: 5%;
}
.cont-five-bloq h5 {
  margin: 0;
}
.cont-five-bloq-sections h5 {
  font-family: roboto-thin;
  font-size: 1.5vw;
}
.cont-five-bloq-sections p, .cont-five-bloq-sections ul li a {
  font-family: roboto-thin;
  font-size: 1vw;
}
.cont-five-bloq-sections ul li a {
  text-decoration: none;
  color: white;
}
.cont-five-bloq-sections ul {
  list-style-image: url("../images/ico/arrow-point-to-right.png") square;
}
.cont-five-bloq-sections-photo-txt {
  margin-left: 5%;
}
.cont-five-bloq-sections-photo-img {
  margin-bottom: 5%;
}
.cont-five-bloq-sections {
  padding-right: 5%;
}
.cont-five-bloq-sections-photo-txt p {
  margin-top: 0;
}
.cont-five-bloq-sections-photo-img img {
  width: 64px;
  height: 64px;
}
.form-news {
  font-family: roboto-thin;
}
.form-news button {
  background-color: #E74C3C;
  border: #E74C3C;
  border-radius: 6%;
  padding: 1.1% 5%;
  margin-left: -1.5%;
  width: 100%;
  height: auto;
}
/*footer section */
footer {
  background-color: #2C3E50;
  color: white;
}
.seconder-copyright div p {
  margin: 0;
}
@media (min-width: 320px) and (max-width: 767px){

	.cont-home-sec1 {
		background-image: url(../images/slider/bg1-mob.jpg);
	}
	.cont-home-sec1-cont-txt h2, .cont-home-sec1-cont-txt p {
		font-family: roboto-thin;
	}
	.cont-home-sec1-cont-txt h2 {
		font-size: 7.7vw;
	}
	.cont-home-sec1-cont-txt p {
		font-size: 4.37vw;
	}
  /*second section */
  .cont-home-second-cont, .section-three, .section-four-content, .cont-five,
  .cont-five-bloq {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction:column;
  }
  .cont-home-second-cont-section {
    margin: 5% 0;
  }
  .cont-home-second-cont {
    max-width: initial;
    margin: 0;
  }
  .cont-home-second-cont-txt-logo h5 {
    font-family: roboto-thin;
    font-size: 5vw;
    margin: 0;
  }
  .cont-home-second-cont-txt-logo p {
    font-family: roboto-thin;
    font-size: 3.4vw;
    padding-right: 10%;
  }
  /*section three */
  .section-three-projects h5, .section-four-content-title h5 {
    font-size: 5vw;
  }
  .section-three-slider-projects-cont.slick-initialized.slick-slider {
    max-width: 100%;
    margin: auto;
  }
  .slick-prev {
    left: 0vw!important;
    top: -5vw!important;
  }
  .slick-next {
    right: 79vw!important;
    top: -5vw!important;
  }
  /*section four */

  .section-four-content-client-content p:first-child, .section-four-content-title p,
  .cont-five-bloq-sections h5, .cont-five-bloq-sections p, .cont-five-bloq-sections ul li a {
    font-size: 3vw;
  }
  .section-four-content-client-content p:nth-child(2) {
    font-size: 2.5vw;
  }

  /*five section */
  .form-news button {
    width: 20%;
  }
  	/*footer section */
}


