doctype html5
html(lang="es")
	head
		title Flat Theme
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")
		link(rel="stylesheet", href="css/materialize.min.css")
		link(rel="stylesheet", href="css/materialize.css")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/animate.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	body#home
		header
			nav
				div.nav-wrapper.blue-grey.darken-3
					img.brand-logo(src="images/logo.png", alt="Logo")
					a.button-collapse(href="#", data-activates="mobile-demo")
						i.material-icons menu
					ul.right.hide-on-med-and-down
						li
							a(href="#home") Home
						li
							a(href="#about") About US
						li
							a(href="#services") Services
						li
							a(href="#portafolio") Portafolio
						li
							a(href="#blog") Blog
						li
							a(href="#contact") Contact
					ul.side-nav#mobile-demo
						li
							a(href="#home") Home
						li
							a(href="#about") About US
						li
							a(href="#services") Services
						li
							a(href="#portafolio") Portafolio
						li
							a(href="#blog") Blog
						li
							a(href="#contact") Contact
		section
			div.container-fluid
				div.row.imgTigre
					div.col.s12.m12.l12.center-align.white-text
						h2 Powerful and Responsive Web Design
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
		footer.page-footer.green.accent-3
			div.container
				div.row.white-text
					div.col.s2.m1.l1
						a(href="#")
							i.fa.fa-twitter.fa-3x(aria-hidden="true")
					div.col.s10.m3.l3
						h5 Twitter Marketing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dicta dignissimos at atque ipsa, earum aut nobis.
					div.col.s2.m1.l1
						a(href="#")
							i.fa.fa-facebook.fa-3x(aria-hidden="true")
					div.col.s10.m3.l3
						h5 Facebook Marketing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dicta dignissimos at atque ipsa, earum aut nobis.
					div.col.s2.m1.l1
						a(href="#")
						i.fa.fa-google-plus.fa-3x(aria-hidden="true")
					div.col.s10.m3.l3
						h5 Google Plus Marketing
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dicta dignissimos at atque ipsa, earum aut nobis.
			div.footer-copyright
				div.container
					p © 2014 Copyright Text
					a.grey-text.text-lighten-4.right(href="#!") More Links
		script(src="js/jquery.js")
		script(src="js/materialize.min.js")
		script(src="js/main.js")
		script(src="https://use.fontawesome.com/6013be0e09.js")				