doctype html5
html(lang="es")
	head
		title Flat Theme
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")
		link(rel="stylesheet", href="css/materialize.min.css")
		link(rel="stylesheet", href="css/materialize.css")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/animate.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	body#home
		header
			nav
				div.nav-wrapper.blue-grey.darken-3
					img.brand-logo(src="images/logo.png", alt="Logo")
					a.button-collapse(href="#", data-activates="mobile-demo")
						i.material-icons menu
					ul.right.hide-on-med-and-down
						li
							a(href="#home") Home
						li
							a(href="#about") About US
						li
							a(href="#services") Services
						li
							a(href="#portafolio") Portafolio
						li
							a(href="#blog") Blog
						li
							a(href="#contact") Contact
					ul.side-nav#mobile-demo
						li
							a(href="#home") Home
						li
							a(href="#about") About US
						li
							a(href="#services") Services
						li
							a(href="#portafolio") Portafolio
						li
							a(href="#blog") Blog
						li
							a(href="#contact") Contact
		section
			div.container-fluid
				div.row.green.accent-3.mb-0.pt-5.pb-5
					div.col.s12.m9.l9.white-text
						h5.left-align Portafolio
						p.left-align Lorem ipsum dolor sit amet, consectetur adipisicing elit
					div.col.s12.m3.l3.white-text.green.accent-3
						div.green.accent-3
							ul.right.right-align.inline-blk
								li 
									a(href="#home") Home
								li 
									a(href="#about") Portafolio
		section
			div.grey.lighten-3
				div.container-fluid
					div.row
						div.col.s12.m12.l12.center
							h3 What we do
							p You can use rows and columns here to organize your footer content.
							div.row
								div.col.s12.m4.l4
									div.row
										div.col.s4.m4.l4.white-text
											div.fa.fa-windows.fa-3x.circuloGris(aria-hidden="true")
										div.col.s8.m8.l8
											h5 Windows Development
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quam natus quia, aperiam fugiat culpe.
								div.col.s12.m4.l4
									div.row
										div.col.s4.m4.l4
											div.fa.fa-android.fa-apple.fa-3x.white-text.circuloGris(aria-hidden="true")
										div.col.s8.m8.l8
											h5 Windows Development
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quam natus quia, aperiam fugiat culpe.
								div.col.s12.m4.l4
									div.row
										div.col.s4.m4.l4
											div.fa.fa-apple.fa-3x.white-text.circuloGris(aria-hidden="true")
										div.col.s8.m8.l8
											h5 Windows Development
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quam natus quia, aperiam fugiat culpe.
							div.row
								div.col.s12.m4.l4
									div.row
										div.col.s4.m4.l4.white-text
											div.fa.fa-linux.fa-3x.circuloGris(aria-hidden="true")
										div.col.s8.m8.l8
											h5 Windows Development
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quam natus quia, aperiam fugiat culpe.
								div.col.s12.m4.l4
									div.row
										div.col.s4.m4.l4
											div.fa.fa-android.fa-apple.fa-3x.white-text.circuloGris(aria-hidden="true")
										div.col.s8.m8.l8
											h5 Windows Development
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quam natus quia, aperiam fugiat culpe.
								div.col.s12.m4.l4
									div.row
										div.col.s4.m4.l4
											div.fa.fa-google-plus.fa-3x.white-text.circuloGris(aria-hidden="true")
										div.col.s8.m8.l8
											h5 Windows Development
											p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quam natus quia, aperiam fugiat culpe.
		footer.page-footer.blue-grey.darken-3
			div.container
				div.row
					div.col.s12.m3.l3
						h5.white-text About Us
						p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum minus animi ipsam. Dicta sunt qui, eveniet explicabo.
						p.grey-text.text-lighten-4 Nihil voluptatum minus animi ipsam. Dicta sunt qui, eveniet explicabo. Dicta sunt qui, eveniet explicabo
					div.col.s12.m3.l3
						h5.white-text Company
						li.grey-text.text-lighten-3
							i.material-icons keyboard_arrow_right
								a.grey-text.text-lighten-3(href="#!") The Company
						li.grey-text.text-lighten-3
							i.material-icons keyboard_arrow_right
								a.grey-text.text-lighten-3(href="#!") Our Team
						li.grey-text.text-lighten-3
							i.material-icons keyboard_arrow_right
								a.grey-text.text-lighten-3(href="#!") Our Parthers
						li.grey-text.text-lighten-3
							i.material-icons keyboard_arrow_right
								a.grey-text.text-lighten-3(href="#!") Our Services
						li.grey-text.text-lighten-3
							i.material-icons keyboard_arrow_right
								a.grey-text.text-lighten-3(href="#!") Faq
						li.grey-text.text-lighten-3
							i.material-icons keyboard_arrow_right
								a.grey-text.text-lighten-3(href="#!") Contact US
						li.grey-text.text-lighten-3
							i.material-icons keyboard_arrow_right
								a.grey-text.text-lighten-3(href="#!") Privacy Policy
						li.grey-text.text-lighten-3
							i.material-icons keyboard_arrow_right
								a.grey-text.text-lighten-3(href="#!") Teams of Use
						li.grey-text.text-lighten-3
							i.material-icons keyboard_arrow_right
								a.grey-text.text-lighten-3(href="#!") Copyrihgt
					div.col.s12.m3.l3
						h5.white-text Latest Blog
						div.row
							div.col.s4.m4.l4
								img.responsive-img(src="images/blog/avatar.jpg", alt="")
							div.col.s8.m8.l8
								p.white-text
									small Nihil voluptatum minus animi ipsam
								p.white-text 
									span Posted 17 Aug 2013
						div.row
							div.col.s4.m4.l4
								img.responsive-img(src="images/blog/avatar.jpg", alt="")
							div.col.s8.m8.l8
								p.white-text
									small Nihil voluptatum minus animi ipsam
								p.white-text 
									span Posted 17 Aug 2013
						div.row
							div.col.s4.m4.l4
								img.responsive-img(src="images/blog/avatar.jpg", alt="")
							div.col.s8.m8.l8
								p.white-text
									small Nihil voluptatum minus animi ipsam
								p.white-text 
									span Posted 17 Aug 2013	
					div.col.s12.m3.l3.white-text
						h5 Adress
						p
							strong Twitter, Inc.
						p 795 Folsom Ave. Suite 600
						p San Francisco, CA 94107
						p P:(123) 456-7890	
						h5 Newsletter
					div.input-field
						input#email.validate(type="email")
						label(for="email", data-error="wrong", data-success="right") Email
						button.btn.waves-effect.waves-light(type="submit", name="action") Go!
						i.material-icons.right send
			div.footer-copyright
				div.container
					p © 2014 Copyright Text
					a.grey-text.text-lighten-4.right(href="#!") More Links
		script(src="js/jquery.js")
		script(src="js/materialize.min.js")
		script(src="js/main.js")
		script(src="https://use.fontawesome.com/6013be0e09.js")